.container-fluid{
    margin-top:20px;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rightrow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rightrowup{
    margin-top: 90px;
}
.rightrowdown{
    margin-bottom: 100px;
}
.form-container input{
   border:none;
}
.text .pageinfo{
    font-size: 55px;
    font-weight:bolder;
    margin-top:"-13px"
    /* margin-top: -10px; */
}
.text{
   margin-left: -30px;
}
#form{
   
    margin-left: -35px;
}
.title{
    margin-bottom: 20px;
}
.inputgroup input{
    outline:none;
    margin-top:40px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    padding: 10px 10px 10px 10px;
    background-color: #c0c2c4;
    border-bottom: solid 2px  #c0c2c4;
    
}
@keyframes inputcolor{
    from {border-bottom:2px solid blueviolet;}
  to {border-bottom: 2px solid blueviolet;}
}
.inputgroup input:focus{
    animation: "inputcolor";
    animation-duration: 2s;
    
}
.form-container #textarea{
   margin-top: 40px;
   display: flex;
   justify-content: center;
}

#textarea .area{
    outline: none;
    padding: 10px 10px 10px 10px;
    background-color: #c0c2c4;
    border: none;
    border-radius: 5px;
}
.form-container .form-btn-contact{
  width:25%;
  margin-top: 35px;
  height: 40px;
  background-color: aquamarine;
}
.form-container .button .button2{
    display: flex;
    justify-content: flex-end;
    
}

@media  screen and (max-width:600px) {
    .text .pageinfo{
        font-size: 20px;
        font-weight: 800;
    }
}
@media  screen and (max-width:780px) {
   #form,.text{
    margin-left: 0px;
   }
   .text .pageinfo{
    font-size: 30px;
   }
   .rightrow .rightrowdown,.rightrowup{
    text-align: center;
   }
   .email{
    display: block;
}
}


@media screen and (max-width:767px) {
  .skillpage .pageinfo{
    text-align: center;
  }
  .text .pageinfo{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
  }
  .rightrowup{
    margin-top: 40px;
  }
}

.svgvertical{
    z-index: 12 !important;;
}
/* .button .button2 .form-btn-contact::after{
    height: 100%;
    left: -35%;
    top:0;
    transform:skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
.button .button2 .form-btn-contact:after{
    height: 100%;
    width: 135%;
} */