
.align{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#fff;
   
}

.downbar,.arrow{
    background-color:#1b1447;
    align-items: center;
    justify-content: center;
    display: none;
}
.downbar{
    font-size: small;
    /* border-top: 1px solid #fff; */
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.down{
    text-align: center;
    padding:10px 70px 10px 70px;
}
.fa-solid{
    text-align: center;
}
.arrow{
    /* width: 100px; */
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
   display: flex;
   align-items: center;
    display: none;
    
}
@media screen and (max-width:400px){
    .down{
        padding:5px 0px 5px 0px;
    }
    .down .col{
        padding:10px 1px 10px 1px;
    }
    /* .arrow{
        width:70px;
    } */
}

.arrow1 ,.arrow2{
   
   justify-content: center;
}
.display{
    display: none;
}
@media screen and (max-width:700px) {
    .downbar,.arrow{
        display: block;
    }

}
