#home{
    /* background-color:yellow; */
}#left{
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
    /* padding: 200px 50px 200px 50px; */
    margin-bottom: 0;
}
#right{
    /* background-color: aqua; */
    margin-bottom: 0;
}
#kaushik{
    position: absolute;
    left:20%;
    top:30%;
    z-index: 1;
}
#pooja{
    position: absolute;
   
    top:25%;
}
img{
    height: 400px;
}