.menu-nav{
    display: grid;
    grid-template-columns: 70px 2fr 1fr 0.3fr 70px;
    font-size: larger;
    width: 100%;
    height: 70px;
}
.logo{
    display: grid;
    grid-column:2/3;
    padding-top: 16px;
    padding-left: 70px;
    color: black;
}

.menu-link{
    grid:3/4;
    justify-content: flex-end;
}
.theme{
    grid:4/5;
    display: flex;
   margin-top: 20px;
   margin-right: 0px;
    border:2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.checkbox{
    display: none;
}
/* .theme:hover{

} */
.menu-link ul{
    list-style: none;
    height: 70px;
    display:flex;
    align-items: center;

}
.menu-link ul li>a{
    padding-right: 60px;
    color:black;
    display: inline;
    font-weight: 500;
    transition-duration: 0.5s;
}
.menu-link ul li>a:hover{
 
    background: linear-gradient(
        to right, #f32170, #ff6b08,
         #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: underline wavy red;
}
.socialIcon .col-1{
    margin-right: 20px;
}

@media  screen and (max-width:750px) {
    .menu-nav .logo{
        padding-left: 30px;
    }
}


@media  screen and (max-width:700px) {
    .menu-nav {
        height: 40px;
      
        grid-template-columns: 2rem 2fr 2fr  2rem;
      }
    
    .menu-nav .logo{
        height: 30px;
        margin-top: 10px;
        margin-left: -20px;
        margin-right: 25px;
        padding-left: 10px;
        padding-top: 5px;
        align-items:center ;
    }
      .menu-link ul li>a{
      display: none;
    }
    .menu-nav .theme{
        height: 30px;
        width: 30px;
        margin-top: 12.5px;
        margin-right:50px;
        margin-left:-27.5px;
    }
}
@media screen and (max-width:400px) {
    .menu-nav {
        height: 40px;
      
        grid-template-columns: 1rem 2fr 2fr  1rem;
      }
      .menu-nav .logo{
        margin-bottom: 5px;
        margin-left: 3.5px;
      }
    .menu-nav .theme{
        /* margin:15px 0px 5px 3px; */
        margin-top: 12.5px;
        margin-right:30px;
        margin-left:-30px;
        
    }
}
@media  screen and (max-width:300px) {
    .menu-nav{
        grid-template-columns: 1rem 3fr 2fr 1rem;
    }
    .menu-nav .logo{
        margin:10px -5px 0px -10px;
    }
    .menu-nav .theme{
        height: 30px;
        width:30px;
       margin:15px -20px 0px 40px;
    }
    
}