.projectcard {
    border: 2px solid black;
    padding: 20px;
    height: 320px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
}

.projectcard:first-child {
    margin-left: -10px;
}

.projectinfo {
    margin-left: -23px;
    font-size: 18px;
    font-weight: 500;
}

.projectrow {
    width: 94.5%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.form-btn {
    width: 100px;
    margin-top: 10px;
    height: 40px;
    background-color: aquamarine;
    position: absolute;
    bottom: 10px;
}

.pname {
    font-size: 25px;
    /* margin-bottom: 20px; */
}

.pinfo {
    margin-top: 10px;
    font-weight: 500;
}

.pmade {
    /* margin-top: 10px; */
    font-weight: 500;
    position: absolute;
    top:200px;}

.wrapper {
    display: flex;
    overflow-x: auto;
    flex: 1;
    flex-wrap: nowrap;
}

.wrapper .item {
    margin-right: 2px;
    flex: auto;
    flex-shrink: 0;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}
.projectcard hr{
    background-color: black;
    border:1px solid black;
    margin-bottom: 20px!important;
}