.projectcard{
    border:2px solid black;
    padding: 20px;
    height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
    margin-left: 20px;
margin-top: 20px;
}
.projectrow{
    border: 2px solid red;
    padding-left: 7px;
    width: 94.5%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.form-btn{
    width:25%;
    /* margin-top: 35px; */
    height: 40px;
    background-color: aquamarine;
  }
.pname{
    font-size: 30px;
    margin-bottom: 20px;
}
.pinfo{
    font-size: 20px;
}
.pmade{
    font-size: 20px;
}

.wrapper{
    display: flex;
    overflow-x:auto;
    flex: 1;
    flex-wrap: nowrap;
}
.wrapper::-webkit-scrollbar{
    width:0;
}
.wrapper .item{
    min-width:150px;
    text-align: center;
    margin-right: 2px;
    flex: auto;
    flex-shrink: 0;
}